<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="DefaultMaster.master.cs" Inherits="SKPpDB.DefaultMaster" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>SKP - PDB</title>
    <link href="../Style/MasterStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Style/frontPage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="../JavaScript/GetJson.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="ScrollLook">
    <section id="loading" class="LoadingBox" style="display: none;">
        <article>

            <img class="loadingIcon" src="Style/Image/loadingIcon.png" alt="Loading ..."/>
            <h4>Loading ... </h4>

        </article>
    </section>
    <section class="TopSection">
        <article>
            <header onclick="window.location.href = '../Default.aspx';">
                <span class="Big">
                    SKP
                </span>
                <h1>
                    Projekt Database
                </h1>
            </header>
            <img onclick="" class="MenuButton" src="../Style/Image/menuIcon.png" />
        </article>
    </section>
    <section id="Mainbox" class="Mainbox">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </section>

</body>
</html>
