/* Menu Design */

.MenuButton {
    height: 75px;
    width: 75px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.MenuBox {
    position: fixed;
    height: 100%;
    width: 0px;
    display: block;
    top: 0;
    right: 0;
    background-color: #192841e6;
    z-index: 10;
    box-shadow: 0px 0px 5px 0px black;
    transition: 1s;
    overflow-x: hidden;
    color: white;
}

.MenuBox header {
    position: absolute;
    right: 35px;
    font-size: 80px;
    cursor: pointer;
    color: #b1b1b1;
    transition: 0.5s;
}

.MenuBox header:hover {
    color: #f1f1f1;
}

.MenuBox article {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}

.MenuBox a {
    font-size: 42px;
    color: #d6d6d6;
    text-decoration: none;
    transition: 0.5s;
    padding: 5px 10px;
}

.MenuBox a:hover, .MenuBox a:focus {
    text-decoration: none;
    color: #8a8787;
}

/* Menu Design End */

/* Loading Design */
.LoadingBox {
    position: fixed;
    display: block;
    background-color: #00000077;
    height: 100%;
    width: 100%;
    z-index: 10;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

    .LoadingBox article {
        margin: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.loadingIcon {
    text-align: center;
    margin: 0 auto;
    display: block;
    transition: 2s;
    width: 75px;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes Loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
/* Loading Design End */

.ButtonImage {
    border: none;
    background-color: transparent;
    background-image: url(Style/Image/deleteIcon.png);
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
}
