@font-face {
    font-family: Milk;
    src: url(font/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: Avenir;
    src: url(font/AvenirLTStd-Medium.otf);
}

body, html {
    margin: 0;
    height: 100%;
}

body a {
    color: black;
    display: block;
}

.TopSection {
    display: block;
    position: relative;
    height: auto;
    background-color: rgb(241 239 239);
}

.TopSection .Big {
    color: #009c00;
    font-family: Milk;
    font-size: 3.5rem;
    display: inline;
}

.TopSection header {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    width: fit-content;
}

.TopSection h1 {
    font-family: Avenir;
    font-size: 2rem;
    display: inline;
    color: black;
}
.TopSection a:hover{
    text-decoration: none;
}

.Mainbox {
    position: relative;
    top: 5%;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(175 190 200);
    overflow-y: visible;
}
.ButtonLook {
    background-color: rgb(99, 127, 163);
    padding: 10px 0;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    outline: none;
    text-shadow: 1px 1px 1px black;
    border-radius: 20px;
}
    .ButtonLook:hover {
        background-color: rgb(80, 104, 136);
    }

.Option {
    margin: 0 auto;
    padding: 50px 0px;
    width: 80% !important;
    text-align: center;
}

    .Option input[type=button] {
        background-color: rgb(99, 127, 163);
        padding: 10px 0;
        font-size: 1.3rem;
        font-weight: 500;
        color: white;
        outline: none;
        text-shadow: 1px 1px 1px black;
        border-radius: 20px;
    }

        .Option input[type=button]:hover {
            background-color: rgb(80, 104, 136);
        }

    .Option input[type=text] {
        padding: 10px;
        font-size: 1.3rem;
        outline: none;
        border-radius: 20px;
    }

.Table {
    position: relative;
    width: 90% !important;
    margin: 0px auto;
}

.TableHead {
    width: auto;
    align-items: center;
    text-align: center;
    background-color: #7fa482;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0px black;
}

    .TableHead header {
        padding: 10px 20px;
        font-size: 1.5em;
        color: white;
        text-shadow: 1px 1px 2px black;
        display: inline-block;
        white-space: nowrap;
    }

.TableBody {
    margin: 5px;
    width: auto;
    align-items: center;
    text-align: center;
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0px black;
}

    .TableBody header {
        padding: 10px 20px;
        max-height: 100px;
        overflow-y: auto;
    }

.TableRowBox {
    margin-top: 10px;
    width: fill;
    padding: 0px 30px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

    .TableRowBox a:hover {
        color: black;
    }

.rightBorderGreen {
    border-right: 1px solid #698a6c;
}

.rightBorderGray {
    border-right: 1px solid gray;
}


.ScrollLook::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.ScrollLook::-webkit-scrollbar {
    height: 95%;
    width: 6px;
}

.ScrollLook::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #7fa482;
}

.loading {
    text-align: center;
    margin: 0 auto;
    display: block;
    transition: 2s;
    width: 75px;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes example {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}